[System]
sys_name = AlanineDipeptide
# name of PDB file
pdb_filename = ../../samplers/AlanineDipeptideOpenMM/vacuum.pdb
# name of DCD file
traj_dcd_filename = ../../samplers/allegro-data/working_dir/Langevin_working_dir/traj.dcd

[Training]
use_gpu = False
batch_size = 1000
num_epochs = 50
learning_rate = 0.005
# Adam or SGD
optimizer = Adam  
test_ratio = 0.2
seed = 20
# learn autoencoder or eigenfunction
train_autoencoder = False

load_model_filename = None # checkpoint/AlanineDipeptide-2022-02-18-23:41:05/trained_model.pt 
model_save_dir = checkpoint

save_model_every_step = 10

align_mda_selector = type C or type O or type N

feature_file = feature.txt

# Neural nets for autoencoder, used when train_autoencoder is True
[AutoEncoder]
encoded_dim = 2
encoder_hidden_layer_dims = 20, 20, 20
decoder_hidden_layer_dims = 20, 20, 20
activation = Tanh

# Neural nets for eigenfunctions, used when train_autoencoder is False
[EigenFunction]
num_eigenfunction = 2
hidden_layer_dims = 20, 20, 20
activation = Tanh
eig_w = 1.0, 0.7
penalty_alpha = 20
beta = 1.0
diffusion_coeff = 1e-5
sort_eigvals_in_training=True
