[Default]
# This PDB file describes AlanineDipeptide in vacuum. 
# It is from the OpenMM source code.
pdb_filename = ../AlanineDipeptideOpenMM/vacuum.pdb
# Total simulation steps, i.e. number of states.
n_steps = 20000 
# temperature.
Temperature = 498.0 
traj_dcd_filename = traj.dcd
csv_filename = state_data.csv 
report_interval_dcd = 100
report_interval_stdout = 1000
report_interval_csv = 100
